<h1>Photo Collection</h1>
<button><%= link_to "My photos", user_path(current_user.id) %></button>
</br>
</br>
<div class='wrapper'>

	<% @photos.each do |photo| %>
	<%= link_to (image_tag photo.image.url(:medium)), photo_path(photo) %>
		<h3><%= photo.location %> </h3>
		<h3><%= photo.description %> </h3>

		<h4>Comments: </h4>
		<%photo.comments.each do |comment| %>
		<h4><%= comment[:content]%><br></h4>
		<%end%>
		<!-- Link to new comment from -->

		<%= render "layouts/form", photo: photo %>
		<br>
	</br>
	<% end %>
</div>




