<h1>Photos</h1>

<%= link_to "My photos", user_path(current_user.id) %>

<div class='container'>
	<% @photos.each do |photo| %>
	<div><%= link_to (image_tag photo.image.url(:medium)), photo_path(photo) %></div>
		<h3>Location: <%= photo.location %> </h3>
		<p>Description: <%= photo.description %> </p>
		<p>Comments: </p>
		<%photo.comments.each do |comment| %>
		<%= comment[:content]%>
		<%end%>
		<!-- Link to new comment from -->
		
		<%= render "layouts/form", photo: photo %>
	<% end %>

</div>

