<!DOCTYPE html>
<html>
  <head>
    <title>PicStar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <nav class="navbar navbar-inverse">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <a class="navbar-brand" href="/">
        <img class="logo" alt="Brand" src="../../pic.png">
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Home", '/' %>
        </li>
        <li>
          <%= link_to "New Photo", new_photo_path %>
        </li>
        <li>
          <%= link_to "Login", '/users/sign_in' %>
        </li>
         <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
        </li>
        <li>
          <%= link_to "Sign Up", '/users/sign_up' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
</html>
